.middle {
	@for $i from 1 through length($col-sizes) {
		$size: nth($col-sizes, $i);
		$breakpoint: nth($col-breakpoints, $i);

		&-#{$size} {
			@include breakpoint($breakpoint, up) {
				align-items: center;
			}
		}
	}
}
