.row {
	@include margin-horizontal($col-spacing-small / -2, $col-spacing-large / -2, $clip-low: $col-clip-low, $clip-high: $col-clip-high);

	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;

	&.reverse {
		flex-direction: row-reverse;
	}
}
