/*  ---------------------------------------------------
    Breakpoints
------------------------------------------------------- */

$mobile: 420px !default;
$tablet: 768px !default;
$tablet-landscape: 1024px !default;
$desktop: 1366px !default;
$desktop-large: 1560px !default;

/*  ---------------------------------------------------
    Fluid properites
------------------------------------------------------- */

$default-fluid-property-clip-low: $mobile !default;
$default-fluid-property-clip-high: $desktop !default;
$default-fluid-property-clip-low-vertical: 600px !default;
$default-fluid-property-clip-high-vertical: 1200px !default;

/*  ---------------------------------------------------
    Typography
------------------------------------------------------- */
$modular-scale-small: $major-second !default;
$modular-scale-large: $perfect-fourth !default;

$base-font-size: 16px !default;
// This must be a rem unit
$font-size: 1rem !default;
$output-fonts-px: false !default;

/*  ---------------------------------------------------
    Layout
------------------------------------------------------- */

$collapse-padding-large: 30px !default;
$collapse-padding-small: 15px !default;
$vertical-padding-margin-based-off-vh: false !default;
